cache/
identities/
extensions/
store/
!cache/.gitkeep
!identities/example.identity.dist
!identities/example.identity.ldap.dist
!extensions/hooks.php
!store/.gitkeep
config.php
www/html/components/
!*.dist